[submodule "common"]
	path = common
	url = git@github.com:pronghorn-tech/common.git
[submodule "coroutines"]
	path = coroutines
	url = git@github.com:pronghorn-tech/coroutines.git
[submodule "plugin-collections-jctools"]
	path = plugin-collections-jctools
	url = git@github.com:pronghorn-tech/plugin-collections-jctools.git
[submodule "plugin-hashing-openhft"]
	path = plugin-hashing-openhft
	url = git@github.com:pronghorn-tech/plugin-hashing-openhft.git
[submodule "plugin-logging-slf4j"]
	path = plugin-logging-slf4j
	url = git@github.com:pronghorn-tech/plugin-logging-slf4j.git
[submodule "server"]
	path = server
	url = git@github.com:pronghorn-tech/server.git
[submodule "mongodb-driver-stream"]
	path = mongodb-driver-stream
	url = git@github.com:pronghorn-tech/mongodb-driver-stream.git
